div
{
    width:400px;
    height:200px;
    background-color: teal;
    margin: 10px auto;
    background-image: url("C:/Users/HP/Desktop/Codes/Learning/Full Stack/Front End/081308.jpeg");
    background-size: auto;
    /* background-size: contain/cover/auto;
       contain: crop(×), scale(×), repeat(√) 
       cover: crop(√), scale(×), repeat(×) 
       auto: crop(×), scale(×), stratch(√) */
    color:white; /*text colour*/
}
