/* 081302 */
div
{
    height: 200px;
    width: 200px;
    background-color:red ;
    transition: 2s;
}

div:hover
{
    background-color:blue ;
    /* border-radius: 50%; */
} 

#div1
{
    height: 100px;
    width: 100px;
    background-color:pink ;
    margin: 0 auto;
    margin-top: 10px;
    transition:margin-top 2s ease-in 0.1s;
    
    /* transition: (jis property par apply karna hai) (duration) (time-function) (delay)*/
}

#div1:hover
{
    margin-top: 400px;
    background-color: magenta;
}