/* 14_03 */
section
{
    margin-top:100px;
}

div
{
    width:200px;
    height:50px;
    text-align:center;
    background-color:rgb(139, 110, 11);
    border:2px solid rgb(179, 176, 37);
    margin:10px auto;
}
div:nth-of-type(2n)
{
    background-color: rgb(224, 186, 61);
}
div:nth-of-type(3n)
{
    background-color:rgb(234, 241, 126);
}


    /* Transform: */
#one
{
    transform: rotate(15deg);
}

/* 14_04: */
#two
{
    transform:scale(0.5);
    /* transform:scale(0.5,2); //i.e. along x and y axis respectively (will make length half and width double)
       trsnsform:scaleX(1.5); //i.e. along x axis only
       trsnsform:scaleY(1.5); //i.e. along y axis only */
}

/* 14_05: */
#three
{
    transform: translateX(200px);
    /* transform: translate(100px,100px);
    transform: translateY(100px); */
}

/* 14_06: */
#four
{
    transform:skew(40deg);
}    

#five
{
    transform: rotate(30deg) scale(1.2) translate(100px,100px) skew(45deg);
}