/* Use of some properties like:
-position 

Use of some values like:
-absolute
-fixed
-sticky
-static
-relative */

p
{
    font-size:40px;
}


#para15
{
    position:absolute;/*it tells that ab is element ki koi fixed static position nahi hai, ham ab ise screen par kahi bhi fit kar sakte hai within its parent*/
    top:1200px;
    left: 100px;
}
#para1
{
    position:fixed; /*it will fix the element on the screen and when the page will move so this element eill also move with the screen*/
}
#para5
{
    position:sticky;
    top:0;/* "top" defines where a sticky element locks in place relative to the viewport during scrolling*/
}
#para10
{
    position:static; /*it is the default position of the element, it will be positioned according to the normal flow of the page*/
}
#para8
{
    position:relative; /*it will be positioned relative to its normal position, so it will move from its normal position*/
    top: 50px;
    left: 200px;
}